*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 100%;
  background-color: var(--background-dark);
}

.logo {
  font-size: 3rem;
}

.logo,
.logo:active,
.logo:visited {
  text-decoration: none;
  color: var(--textcolor-light);
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  transition: all 300ms;
}

.menu.open {
  width: 300px;
}
