*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 0 2%;
}

.logo,
.logo:active,
.logo:visited {
  text-decoration: none;
  color: var(--textcolor-main);
}
