*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.action-wrapper {
  width: 40%;
  min-width: 30rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  border: none;
}

.fieldset--column {
  flex-direction: column;
}

.label {
  display: flex;
}

.label--column {
  flex-direction: column;
}

.label-text {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;
  margin: 0;
  font-size: 1.6rem;
}

.error-message {
  font-size: 1.4rem;
  color: var(--textcolor-main);
}

.input {
  margin-top: 5px;
  padding: 6px 10px;
  border: none;
  border-bottom: 2px solid var(--color-main);
  border-radius: 3px;
  background-color: var(--background-light);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-cta);
}

.error {
  border-bottom: 2px solid var(--color-error);
}

.error:focus {
  outline: none;
  border-bottom: 2px solid var(--color-error);
}

