.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: var(--textcolor-main);
  background-color: var(--color-cta);
  padding: .7rem 1rem;
}

.btn:disabled {
  background-color: var(--color-main);
  cursor: default;
}
