:root {
  --color-main: rgb(245, 222, 118);
  --background-light: rgb(230, 240, 229);
  --background-dark: rgb(35, 43, 34);
  --textcolor-main: rgb(31, 30, 30);
  --textcolor-light: rgb(250, 240, 240);
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
