*,
*::after,
*::before {
  box-sizing: border-box;
}

li > a {
  display: flex;
  width: 100%;
  justify-content: center;
}

a,
a:active,
a:visited {
  color: var(--textcolor-light);
  text-decoration: none;
}

a:hover {
  color: var(--color-main);
}

.navigation {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 10px;
  background-color: var(--background-dark);
  border-radius: 0 0 0 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
}

.active {
  color: var(--color-main);
}
